.title {
  grid-column: 1  / span 5;
  grid-row: 1;
  margin: 0 0 0 5px;
  font-size: 1.3rem;
  font-weight: 700;
}

.description {
  grid-column: 1 / span 5;
  grid-row: 2;
  margin: 0 0 0 5px;
  font-size: .9rem;
  font-weight: 400;
}

.btn-more {
  grid-column: 7 / span 8;
  grid-row: 1;
  align-self: center;
  width: max-content;
  height: min-content;
  padding: 0;
  margin-left: -12px;
  appearance: none;
  background: none;
  border:none;
  font-size: .8rem;
  font-weight: 600;
  text-transform: uppercase;
}
