:root {
  --gray: #c5c5c5;
  --white: #fff;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: 18px;
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

li {
  list-style: none;
}

ul {
  padding:0;
}

button {
  border: none;
  background: none;
}

.container {
  margin: 10vh 0 10vh 20px;
}

.page-name {
  text-align: left;
  font-size: 1.3rem;
  font-weight: 600;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
